@model DayScheduling.Entities.Plan.vmDayByDayPlan
@using WebApplication1.AppHtmlHelpers;
<!DOCTYPE html>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="canonical" href="https://www.inspirock.com/trip/2-days-in-izmir-itinerary-with-culture-a2f6de2f7-eef8-4914-a130-4bc3380476d4">
    <meta name="robots" content="index,follow" />
    <title>2 days in Izmir Itinerary • With Culture • DayScheduling</title>
    <meta name="description" content="Visit Izmir. Best things to do are: Kemeralti Market, Saat Kulesi (Clock Tower), Kordonboyu, and Tarihi Asansor. See culture. Travel Feb 20 - Feb 21. Created by a user from Turkey • Inspirock" />
    <meta name="_csrf_parameter" content="_csrf" />
    <meta name="_csrf_header" content="X-CSRF-TOKEN" />
    <meta name="_csrf" content="0ff48de0-945c-4ba5-905f-a29be48a8e39" />
   
    <!-- <link rel="apple-touch-icon" sizes="57x57" href="../../../res/images/assets/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../../res/images/assets/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../../res/images/assets/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../../res/images/assets/apple-touch-icon-76x76.png"><link rel="icon" type="image/png" href="../../../res/images/assets/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../../res/images/assets/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../../../res/images/assets/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/res/images/assets/manifest.json">-->
    <link rel="Shortcut Icon" href="~/img/logo.ico" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-config" content="~/res/images/assets/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:url" content="https://www.inspirock.com/trip/2-days-in-izmir-itinerary-with-culture-a2f6de2f7-eef8-4914-a130-4bc3380476d4?utm_source=plan-share-link&amp;utm_medium=facebook&amp;utm_content=shareplanlink&amp;utm_campaign=plan-share-link" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="2 days in Izmir Itinerary • With Culture" />
    <meta property="og:site_name" content="Inspirock" />
    <meta property="og:image" content="~/photos/saat-kulesi-clock-tower-352339852.jpg" />
    <meta property="fb:app_id" content="404106769689776" />
    <meta property="og:description" content="Created on Inspirock." />
    <link rel="preload" href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0" as="font" type="font/woff2" crossorigin>
    <link rel="preconnect" href="http://netdna.bootstrapcdn.com/" crossorigin>
    <link rel="dns-prefetch" href="http://netdna.bootstrapcdn.com/">
    <link rel="preconnect" href="http://www.google-analytics.com/" crossorigin>
    <link rel="preload" href="~/fonts/Lato-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="~/fonts/Lato-700italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="~/fonts/Lato-300.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="~/fonts/Lato-700.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="~/fonts/Lato-700italic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="~/fonts/Lato-900.woff2" as="font" type="font/woff2" crossorigin>
    <style>
@@font-face {font-family: 'Lato'; font-weight: 300; font-style: normal; src: local('Lato Light'), local('Lato-300'), url('../../fonts/Lato-300.woff2') format('woff2'), url('../../fonts/Lato-300.woff') format('woff'), url('../../fonts/Lato-300.ttf') format('truetype');}
@@font-face {font-family: 'Lato'; font-weight: 400; font-style: normal; src: local('Lato Regular'), local('Lato-regular'), url('../../fonts/Lato-regular.woff2') format('woff2'), url('../../fonts/Lato-regular.woff') format('woff'), url('../../fonts/Lato-regular.ttf') format('truetype');}
@@font-face {font-family: 'Lato'; font-weight: 400; font-style: italic; src: local('Lato Italic'), local('Lato-italic'), url('../../fonts/Lato-italic.woff2') format('woff2'), url('../../fonts/Lato-italic.woff') format('woff'), url('../../fonts/Lato-italic.ttf') format('truetype');}
@@font-face {font-family: 'Lato'; font-weight: 700; font-style: normal; src: local('Lato Bold'), local('Lato-700'), url('../../fonts/Lato-700.woff2') format('woff2'), url('../../fonts/Lato-700.woff') format('woff'), url('../../fonts/Lato-700.ttf') format('truetype');}
@@font-face {font-family: 'Lato'; font-weight: 700; font-style: italic; src: local('Lato Bold Italic'), local('Lato-700italic'), url('../../fonts/Lato-700italic.woff2') format('woff2'), url('../../fonts/Lato-700italic.woff') format('woff'), url('../../fonts/Lato-700italic.ttf') format('truetype');}
@@font-face {font-family: 'Lato'; font-weight: 900; font-style: normal; src: local('Lato Black'), local('Lato-900'), url('../../fonts/Lato-900.woff2') format('woff2'), url('../../fonts/Lato-900.woff') format('woff'), url('../../fonts/Lato-900.ttf') format('truetype');}
    </style>
    <link rel="stylesheet" type="text/css" href='~/css/commoncss.css'>
    <link rel="stylesheet" type="text/css" href='~/css/resultpage.css'>
    <script type="text/javascript">

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','../../../../www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-42855545-3', {'siteSpeedSampleRate': 100, 'cookieDomain': 'auto'});

        ga('require', 'linkid', 'linkid.html');
        ga('set', 'dimension1', '3.2.1');
        ga('set', 'dimension2', 'izmir');
        ga('set', 'dimension4', 'single-night-stay');
        ga('set', 'dimension5', 'Anonymous');
        ga('set', 'dimension6', 'N/A');
        ga('set', 'dimension7', 'N/A');
        ga('set', 'dimension8', 'N/A');
        ga('set', 'dimension9', 'a2f6de2f7-eef8-4914-a130-4bc3380476d4');
        ga('set', 'dimension10', 'N/A');
        ga('set', 'dimension11', 'N/A');
        ga('set', 'dimension12', 'VIEWER');
        ga('set', 'dimension13', 'domestic');
        ga('set', 'dimension14', 'N/A');
        ga(function(t) {setCookie('gaclientid', t.get('clientId'));});
        ga('set', 'dimension17', 'N/A');
            ga('set', 'expId', 'lw9wdZijSE2PYNe4ojJAmA');
            ga('set', 'expVar', '3');
    </script>
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','../../../../connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1753771061530174');
        fbq('track', 'PageView');
    </script>
    <noscript>
        
    </noscript>
</head>
<body class="resultspage edit-disabled normal" data-browser-lang-code="en"
      data-browser-lang-name="english">
        @RenderBody()
    <div id="icon-container"></div>
    <script src="~/js/icons.js" type="text/javascript" async></script>
    <div id="fb-root"></div>
    <div id="pageWrapper" class="page-wrapper ">
        <header class="page-header " id="pageHeader">
            <div class="header-fixer" style=""><!--"background-color:#666"-->
                <div class="header-contents clearfix">

                    <div class="header-logo">
                        <a href="/" title="For planning your day!">
                            <a href="/Home/MainPage" title="Day Scheduling Day Planner">
                                <img src="~/img/logo.png" border=5 width=45 height=40>
                            </a>
                            <span class="tagline">
                                <font face="Berlin Sans FB" size="4" color="white">
                                    For planning your day!
                                </font>
                    </div>
                    <nav class="page-nav left">
                    </nav>
                    <nav class="page-nav right">
                        <ul>
                            <li>
                                <a id="newplan" rel="nofollow" href="https://www.inspirock.com/trip-planner"><span>+ New plan</span></a>
                            </li>
                            <li id="myPlans" data-dropdown-url="/myPlansDropdown" data-has-plans="false">
                                <a rel="nofollow" href="/Home/myPlans">
                                    <span>My plans</span>
                                </a>
                            </li>
                            <li id="userOptions" class="hidden">
                                <a rel="nofollow" href="~/Plan/DayByDay">
                                    <span class="name">Profile</span>
                                </a>
                                <div class="hidden">
                                    <div id="userDropdown">
                                        <ul>
                                            <li class="logout-button">Log out</li>
                                        </ul>
                                    </div>
                                    <form id="logoutForm" action="https://www.inspirock.com/logout" method="POST">
                                        <div>
                                            <input type="hidden" name="_csrf" value="0ff48de0-945c-4ba5-905f-a29be48a8e39" />
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li id="userLogin" class="">
                                <a rel="nofollow" class="login-button" href="/Home/LoginPage">
                                    <span>Log in</span>
                                </a>
                            </li>
                            <li class="vertical-line"></li>
                            <li id="language" data-browser-lang-code="en"
                                data-browser-lang-name="english" data-dropdown-url="/languageOptions"><span class="language-text">english</span><span class="dropdown"></span></li>
                            <li id="currency" data-dropdown-url="/currencyOptions">
                                <a rel="nofollow" href="/Plan/DayByDay">
                                    <span><span class="selected-currency">TL</span> <span class="dropdown"></span></span>
                                </a>
                            </li>
                            
                        </ul>
                    </nav>
                </div>

            </div>
        </header>
                    <div id="itinerary" class="tab-content active row" data-url="/trip/2-days-in-izmir-itinerary-with-culture-a2f6de2f7-eef8-4914-a130-4bc3380476d4/itinerary/list" data-is-dirty="false">
                        <div class="destination-list" data-nightstays="[{&#034;name&#034;:&#034;Izmir&#034;,&#034;destinationId&#034;:&#034;311325597&#034;}]"
                             data-countries="[{&#034;name&#034;:&#034;Turkey&#034;,&#034;destinationId&#034;:&#034;111172191&#034;}]"></div>
                        <div id="itineraryLoadingPane" class="itinerary-loading-pane hidden">
                            <img class="progress-img" src="~/res2/images/misc/bulb.gif" alt="Loading..." />
                            <div class="progress-txt"></div>
                        </div>
                        <div id="itinerarySubnavPane" class="itinerary-subnav-pane  col-12">
                            <div class="itinerary-subnav-bg"></div>
                            <div class="itinerary-subnav-contents subnav-pane clearfix">
                                <div class="subnav-tabs ">
                                    <div class="selectview" title="2 days in Izmir Itinerary">Your daily plan in @Model.Province</div>
                                    <div id="daybydaylink" class="subnavlink active" data-target="daybyday" data-url="/trip/2-days-in-izmir-itinerary-with-culture-a2f6de2f7-eef8-4914-a130-4bc3380476d4/itinerary/list">
                                        <span class="title">Timeline</span>
                                    </div>
                                    <div id="calendarlink" class="subnavlink " data-target="calendar" data-url="/trip/2-days-in-izmir-itinerary-with-culture-a2f6de2f7-eef8-4914-a130-4bc3380476d4/itinerary/calendar">
                                        <span class="title">Calendar</span>
                                    </div>
                                    <div id="mapslink" class="subnavlink " data-target="maps" data-url="/trip/2-days-in-izmir-itinerary-with-culture-a2f6de2f7-eef8-4914-a130-4bc3380476d4/itinerary/maps">
                                        <span class="title">Maps</span>
                                    </div>
                                </div>
                                <ul class="subnav-actions">
                                    <li>
                                        <button type="button" class="cta-button large Add" data-event-src="Add">Add</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="itineraryLeftTimelinePane"
                             class="itinerary-left-timeline-pane  daybyday col-1">
                            <div class="day-box in-plan "
                                 data-stay-id="1"
                                 data-destination-id="311325597"
                                 data-date="2018-02-20"
                                 data-day-index="0">
                                <div class="month">Feb</div>
                                <div class="day text-link" data-title="Izmir">20</div>
                            </div>
                            <div class="day-box in-plan "
                                 data-stay-id="1"
                                 data-destination-id="311325597"
                                 data-date="2018-02-21"
                                 data-day-index="1">
                                <div class="day text-link" data-title="Izmir">21</div>
                            </div>
                        </div>
                        <div id="itineraryMainPane" class="itinerary-main-pane  col-9 daybyday" data-has-reservation="false">
                            <div id="daybyday" class="itinerary-daybyday-pane ">
                                <div>
                                    <div class="day-block"
                                         id="itineraryDay2018-02-20"
                                         data-destination-id="311325597"
                                         data-destination-name="Izmir"
                                         data-stay-id="1"
                                         data-date="2018-02-20">
                                        <div class="day-title clearfix readonly stay-1" data-stay-id="1">
                                            <div class="day-title-container">
                                                <div class="start-end-dates">Tue, Feb 20</div>
                                                <div class="line-between"></div>
                                                <div class="line-between-2"></div>
                                                <div class="stay-area">
                                                    <span class="stayName destinationDetailsLink clickable-text"
                                                          data-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/trip-planner-d311325597"
                                                          data-event-src="day-title">Izmir</span>
                                                </div>
                                                <span class="conflict-icon hidden">
                                                    <svg>
                                                        <use xlink:href="#icon-error-circle"></use>
                                                    </svg>
                                                </span>
                                                <div class="line-between-2"></div>
                                            </div>
                                        </div><div class="itinerary-row car-rental-upsell-row clearfix"
                                                   data-destination-id=""
                                                   data-upsell="CARRENTAL"
                                                   data-stay-id="1"
                                                   data-id="1">

                                            <div class="left-col"></div>
                                            <div class="right-col">
                                                <div class="carrental-icon">
                                                    <svg>
                                                        <use xlink:href="#icon-travel-car"></use>
                                                    </svg>
                                                </div>
                                               
                                            </div>
                                        
                                        </div>
                                        <div class="itinerary-row visit-row data-holder "
                                             id="itinerary-item-5"
                                             data-visit-id="5"
                                             data-id="5"
                                             data-stay-id="1"
                                             data-name="Saat Kulesi (Clock Tower)"
                                             data-duration="60"
                                             data-attraction-id="111497851"
                                             data-destination-id="311325597"
                                             data-details-url="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/saat-kulesi-clock-tower-a111497851"
                                             data-event-src="visit-row"
                                             data-has-notes="false">
                                            <div class="visit-contents clearfix">
                                                <div class="left-col ">
                                                    <div class="visit-time">
                                                        <div class="start-time time ">
                                                            <span>11:30am</span>
                                                        </div>
                                                        <div class="end-time time">12:30pm</div>
                                                    </div>
                                                </div>
                                                <div class="right-col">
                                                    <div class="visit-row-medium">
                                                        <div class="photo clickable-image attLink"
                                                             style="background-image: url('../../photos/saat-kulesi-clock-tower-352339852.jpg')"
                                                             data-link="/turkey/izmir/saat-kulesi-clock-tower-a111497851">
                                                        </div>
                                                        <span class="copyright-fancy-box-div copyright"
                                                              data-type="attraction"
                                                              data-id="111497851"
                                                              data-img-path="saat-kulesi-clock-tower-352339852.html">&copy;</span>
                                                    </div><div class="detail">
                                                        <div class="name attLink clickable-text">Saat Kulesi (Clock Tower)</div>
                                                        <div class="review-tag-container">
                                                            <span class="review">
                                                                <div class="rating-stars ">
                                                                    <span class="rating-stars-fill" style="width:88.00000000000001%;"></span>
                                                                </div>
                                                            </span>
                                                            <span class="tags-attractions">
                                                                <span class="tag must-see-tag">#Must See</span>, <span class="tag" data-cat-id="208">#Landmark</span>
                                                            </span>
                                                        </div>
                                                        <div class="desc">
                                                            <blockquote class="trim-desc" data-more-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/saat-kulesi-clock-tower-a111497851" cite="https://www.inspirock.com/turkey/izmir/saat-kulesi-clock-tower-a111497851">
                                                                View the Ottoman-style tower that has come to represent the city at Saat Kulesi (Clock Tower). Built in 1901 to mark the 25th anniversary of
                                                            </blockquote>
                                                        </div>
                                                        <div class="tours">
                                                            <a class="attLink hidden full-details-link text-link" href="https://www.inspirock.com/turkey/izmir/saat-kulesi-clock-tower-a111497851">
                                                                View full attraction details
                                                            </a>
                                                        </div>
                                                              <button type="button" class="cta-button large Delete" data-event-src="Delete">Delete</button>
                                                              <button type="button" class="cta-button large Update" data-event-src="Update">Update</button>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="itinerary-row hop-row    " data-stay-id="1">
                                            <div class="left-col"></div>
                                            <div class="right-col">
                                                <span class="travelTime">9&#8203;min</span>
                                                <a class="directions text-link" rel="nofollow noopener" href="http://maps.google.com/maps?saddr=38.418888,27.12865&amp;daddr=38.408886,27.117561" target="_blank">Get details &raquo;</a>
                                            </div>
                                        </div>
                                        <div class="itinerary-row visit-row data-holder "
                                             id="itinerary-item-7"
                                             data-visit-id="7"
                                             data-id="7"
                                             data-stay-id="1"
                                             data-name="Tarihi Asansor"
                                             data-duration="60"
                                             data-attraction-id="111699973"
                                             data-destination-id="311325597"
                                             data-details-url="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/tarihi-asansor-a111699973"
                                             data-event-src="visit-row"
                                             data-has-notes="false">
                                            <div class="visit-contents clearfix">
                                                <div class="left-col ">
                                                    <div class="visit-time">
                                                        <div class="start-time time ">
                                                            <span>1:00pm</span>
                                                        </div>
                                                        <div class="end-time time">2:00pm</div>
                                                    </div>
                                                </div>
                                                <div class="right-col">
                                                    <div class="visit-row-medium">
                                                        <div class="photo clickable-image attLink"
                                                             style="background-image: url('../../photos/tarihi-asansor--2108472464.jpg')"
                                                             data-link="/turkey/izmir/tarihi-asansor-a111699973">
                                                        </div>
                                                        <span class="copyright-fancy-box-div copyright"
                                                              data-type="attraction"
                                                              data-id="111699973"
                                                              data-img-path="tarihi-asansor--2108472464.html">&copy;</span>
                                                    </div><div class="detail">
                                                        <div class="name attLink clickable-text">Tarihi Asansor</div>
                                                        <div class="review-tag-container">
                                                            <span class="review">
                                                                <div class="rating-stars ">
                                                                    <span class="rating-stars-fill" style="width:86.0%;"></span>
                                                                </div>
                                                            </span>
                                                            <span class="tags-attractions">
                                                                <span class="tag must-see-tag">#Must See</span>, <span class="tag" data-cat-id="208">#Landmark</span>
                                                            </span>
                                                        </div>
                                                        <div class="desc">
                                                            <blockquote class="trim-desc" data-more-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/tarihi-asansor-a111699973" cite="https://www.inspirock.com/turkey/izmir/tarihi-asansor-a111699973">
                                                                Reach the upper levels of the community for expansive views of the city, the bay, and the surrounding landscape with Tarihi Asansor. The orig
                                                            </blockquote>
                                                        </div>
                                                        <div class="tours">
                                                            <a class="attLink hidden full-details-link text-link" href="https://www.inspirock.com/turkey/izmir/tarihi-asansor-a111699973">
                                                                View full attraction details
                                                            </a>
                                                        </div>
                                                              <button type="button" class="cta-button large Delete" data-event-src="Delete">Delete</button>
                                                              <button type="button" class="cta-button large Update" data-event-src="Update">Update</button>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="itinerary-row hop-row    " data-stay-id="1">
                                            <div class="left-col"></div>
                                            <div class="right-col">
                                                <span class="travelTime">12&#8203;min</span>
                                                <a class="directions text-link" rel="nofollow noopener" href="http://maps.google.com/maps?saddr=38.408886,27.117561&amp;daddr=38.4106,27.16165" target="_blank">Get details &raquo;</a>
                                            </div>
                                        </div>
                                        <div class="itinerary-row visit-row data-holder "
                                             id="itinerary-item-9"
                                             data-visit-id="9"
                                             data-id="9"
                                             data-stay-id="1"
                                             data-name="Kemeralti Market"
                                             data-duration="90"
                                             data-attraction-id="811497927"
                                             data-destination-id="311325597"
                                             data-details-url="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/kemeralti-market-a811497927"
                                             data-event-src="visit-row"
                                             data-has-notes="false">
                                            <div class="visit-contents clearfix">
                                                <div class="left-col ">
                                                    <div class="visit-time">
                                                        <div class="start-time time ">
                                                            <span>2:30pm</span>
                                                        </div>
                                                        <div class="end-time time">4:00pm</div>
                                                    </div>
                                                </div>
                                                <div class="right-col">
                                                    <div class="visit-row-medium">
                                                        <div class="photo clickable-image attLink"
                                                             style="background-image: url('../../res2/images/defaults/neighborhoods.jpg')"
                                                             data-link="/turkey/izmir/kemeralti-market-a811497927">
                                                            <svg class="binocs">
                                                                <use xlink:href="#icon-binocs" />
                                                            </svg>
                                                        </div>
                                                    </div><div class="detail">
                                                        <div class="name attLink clickable-text">Kemeralti Market</div>
                                                        <div class="review-tag-container">
                                                            <span class="review">
                                                                <div class="rating-stars ">
                                                                    <span class="rating-stars-fill" style="width:76.0%;"></span>
                                                                </div>
                                                            </span>
                                                            <span class="tags-attractions">
                                                                <span class="tag must-see-tag">#Must See</span>, <span class="tag" data-cat-group-id="25">#Neighborhood</span>, <span class="tag" data-other-id="culture">#Culture</span>
                                                            </span>
                                                        </div>
                                                        <div class="desc">
                                                            <blockquote class="trim-desc" data-more-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/kemeralti-market-a811497927" cite="https://www.inspirock.com/turkey/izmir/kemeralti-market-a811497927">
                                                                For centuries Kemeralti Market was one of the city's most important commercial hubs, and this historical bazaar still preserves its original
                                                            </blockquote>
                                                        </div>
                                                        <div class="tours">
                                                            <a class="tours-link text-link attLink jumper" href="https://www.inspirock.com/turkey/izmir/kemeralti-market-a811497927#Related">
                                                                Tours from TL393
                                                            </a>
                                                            <a class="attLink hidden full-details-link text-link" href="https://www.inspirock.com/turkey/izmir/kemeralti-market-a811497927">
                                                                View full attraction details
                                                            </a>
                                                        </div>
                                                              <button type="button" class="cta-button large Delete" data-event-src="Delete">Delete</button>
                                                              <button type="button" class="cta-button large Update" data-event-src="Update">Update</button>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="itinerary-row hop-row    " data-stay-id="1">
                                            <div class="left-col"></div>
                                            <div class="right-col">
                                                <span class="travelTime">12&#8203;min</span>
                                                <a class="directions text-link" rel="nofollow noopener" href="http://maps.google.com/maps?saddr=38.4106,27.16165&amp;daddr=38.435547,27.139322" target="_blank">Get details &raquo;</a>
                                            </div>
                                        </div>
                                        <div class="itinerary-row visit-row data-holder "
                                             id="itinerary-item-11"
                                             data-visit-id="11"
                                             data-id="11"
                                             data-stay-id="1"
                                             data-name="Kordonboyu"
                                             data-duration="90"
                                             data-attraction-id="520004341"
                                             data-destination-id="311325597"
                                             data-details-url="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/kordonboyu-a520004341"
                                             data-event-src="visit-row"
                                             data-has-notes="false">
                                            <div class="visit-contents clearfix">
                                                <div class="left-col ">
                                                    <div class="visit-time">
                                                        <div class="start-time time ">
                                                            <span>4:30pm</span>
                                                        </div>
                                                        <div class="end-time time">6:00pm</div>
                                                    </div>
                                                </div>
                                                <div class="right-col">
                                                    <div class="visit-row-medium">
                                                        <div class="photo clickable-image attLink"
                                                             style="background-image: url('../../res2/images/defaults/sightseeing.jpg')"
                                                             data-link="/turkey/izmir/kordonboyu-a520004341">
                                                            <svg class="binocs">
                                                                <use xlink:href="#icon-binocs" />
                                                            </svg>
                                                        </div>
                                                    </div><div class="detail">
                                                        <div class="name attLink clickable-text">Kordonboyu</div>
                                                        <div class="review-tag-container">
                                                            <span class="review">
                                                                <div class="rating-stars ">
                                                                    <span class="rating-stars-fill" style="width:90.0%;"></span>
                                                                </div>
                                                            </span>
                                                            <span class="tags-attractions">
                                                                <span class="tag must-see-tag">#Must See</span>, <span class="tag" data-cat-id="140">#Pier / Boardwalk</span>
                                                            </span>
                                                        </div>
                                                        <div class="desc">
                                                            <blockquote class="trim-desc" data-more-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/kordonboyu-a520004341" cite="https://www.inspirock.com/turkey/izmir/kordonboyu-a520004341">
                                                                Known as one of the best parts of the city to dine, Kordonboyu also offers grassy areas, long jogging paths, and tranquility away from the bu
                                                            </blockquote>
                                                        </div>
                                                        <div class="tours">
                                                            <a class="tours-link text-link attLink jumper" href="https://www.inspirock.com/turkey/izmir/kordonboyu-a520004341#Related">
                                                                Tours from TL1,051
                                                            </a>
                                                            <a class="attLink hidden full-details-link text-link" href="https://www.inspirock.com/turkey/izmir/kordonboyu-a520004341">
                                                                View full attraction details
                                                            </a>
                                                        </div>
                                                              <button type="button" class="cta-button large Delete" data-event-src="Delete">Delete</button>
                                                              <button type="button" class="cta-button large Update" data-event-src="Update">Update</button>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="itinerary-row hop-row  last  no-time" data-stay-id="1">
                                            <div class="left-col"></div>
                                            <div class="right-col">
                                            </div>
                                        </div>
                                        <div class="itinerary-row hotels-row clearfix  upsell"
                                             data-event-src="list-find-hotel"
                                             data-stay-id="1"
                                             data-id="1"
                                             data-name="Izmir"
                                             data-country-code="TR"
                                             data-checkin-date="2018-02-20"
                                             data-checkout-date="2018-02-21"
                                             data-start-end-date="Feb 20 &mdash; 21"
                                             data-same-date="false"
                                             data-destination-id="311325597"
                                             data-upsell="HOTEL">
                                            <div class="left-col"></div>

                                            <div class="right-col">
                                                <div class="upsell"                                                     </div>
                                                </div>
                                            </div>
                                        </div>
                                                                                         <div class="day-end-line"></div>
                                    </div>
                                    <div class="day-block"
                                         id="itineraryDay2018-02-21"
                                         data-destination-id="311325597"
                                         data-destination-name="Izmir"
                                         data-stay-id="1"
                                         data-date="2018-02-21">
                                        <div class="day-title clearfix readonly " data-stay-id="1">
                                            <div class="day-title-container">
                                                <div class="start-end-dates">Wed, Feb 21</div>
                                                <div class="line-between"></div>
                                            </div>
                                        </div><div class="itinerary-row hop-row first   no-time" data-stay-id="1">
                                            <div class="left-col"></div>
                                            <div class="right-col">
                                            </div>
                                        </div>
                                        <div class="itinerary-row visit-row data-holder "
                                             id="itinerary-item-14"
                                             data-visit-id="14"
                                             data-id="14"
                                             data-stay-id="1"
                                             data-name="Izmir Wild Life Park"
                                             data-duration="150"
                                             data-attraction-id="8146297227"
                                             data-destination-id="311325597"
                                             data-details-url="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/izmir-wild-life-park-a8146297227"
                                             data-event-src="visit-row"
                                             data-has-notes="false">
                                             <div class="visit-contents clearfix">
                                                <div class="left-col ">
                                                    <div class="visit-time">
                                                        <div class="start-time time ">
                                                            <span>10:00am</span>
                                                        </div>
                                                        <div class="end-time time">12:30pm</div>
                                                    </div>
                                                </div>
                                                <div class="right-col">
                                                    <div class="visit-row-medium">
                                                        <div class="photo clickable-image attLink"
                                                             style="background-image: url('../../photos/izmir-wild-life-park--1301659474.jpg')"
                                                             data-link="/turkey/izmir/izmir-wild-life-park-a8146297227">
                                                        </div>
                                                        <span class="copyright-fancy-box-div copyright"
                                                              data-type="attraction"
                                                              data-id="8146297227"
                                                              data-img-path="izmir-wild-life-park--1301659474.html">&copy;</span>
                                                    </div><div class="detail">
                                                        <div class="name attLink clickable-text">Izmir Wild Life Park</div>
                                                        <div class="review-tag-container">
                                                            <span class="review">
                                                                <div class="rating-stars ">
                                                                    <span class="rating-stars-fill" style="width:90.0%;"></span>
                                                                </div>
                                                            </span>
                                                            <span class="tags-attractions">
                                                                <span class="tag must-see-tag">#Must See</span>, <span class="tag" data-cat-id="198">#Nature / Park</span>
                                                            </span>
                                                        </div>
                                                        <div class="desc">
                                                            <blockquote class="trim-desc" data-more-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/izmir-wild-life-park-a8146297227" cite="https://www.inspirock.com/turkey/izmir/izmir-wild-life-park-a8146297227"></blockquote>
                                                        </div>
                                                        <div class="tours">
                                                            <a class="attLink hidden full-details-link text-link" href="https://www.inspirock.com/turkey/izmir/izmir-wild-life-park-a8146297227">
                                                                View full attraction details
                                                            </a>
                                                        </div>
                                                              <button type="button" class="cta-button large Delete" data-event-src="Delete">Delete</button>
                                                              <button type="button" class="cta-button large Update" data-event-src="Update">Update</button>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="itinerary-row hop-row    " data-stay-id="1">
                                            <div class="left-col"></div>
                                            <div class="right-col">
                                                <span class="travelTime">34&#8203;min</span>
                                                <a class="directions text-link" rel="nofollow noopener" href="http://maps.google.com/maps?saddr=38.4928,26.96301&amp;daddr=38.435177,27.139713" target="_blank">Get details &raquo;</a>
                                            </div>
                                        </div>
                                        <div class="itinerary-row visit-row data-holder "
                                             id="itinerary-item-16"
                                             data-visit-id="16"
                                             data-id="16"
                                             data-stay-id="1"
                                             data-name="Alsancak"
                                             data-duration="150"
                                             data-attraction-id="721029885"
                                             data-destination-id="311325597"
                                             data-details-url="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/alsancak-a721029885"
                                             data-event-src="visit-row"
                                             data-has-notes="false">
                                            <div class="visit-contents clearfix">
                                                <div class="left-col ">
                                                    <div class="visit-time">
                                                        <div class="start-time time ">
                                                            <span>2:00pm</span>
                                                        </div>
                                                        <div class="end-time time">4:30pm</div>
                                                    </div>
                                                </div>
                                                <div class="right-col">
                                                    <div class="visit-row-medium">
                                                        <div class="photo clickable-image attLink"
                                                             style="background-image: url('../../photos/alsancak-448123171.jpg')"
                                                             data-link="/turkey/izmir/alsancak-a721029885">
                                                        </div>
                                                        <span class="copyright-fancy-box-div copyright"
                                                              data-type="attraction"
                                                              data-id="721029885"
                                                              data-img-path="alsancak-448123171.html">&copy;</span>
                                                    </div><div class="detail">
                                                        <div class="name attLink clickable-text">Alsancak</div>
                                                        <div class="review-tag-container">
                                                            <span class="review">
                                                                <div class="rating-stars ">
                                                                    <span class="rating-stars-fill" style="width:84.0%;"></span>
                                                                </div>
                                                            </span>
                                                            <span class="tags-attractions">
                                                            </span>
                                                        </div>
                                                        <div class="desc">
                                                            <blockquote class="trim-desc" data-more-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/alsancak-a721029885" cite="https://www.inspirock.com/turkey/izmir/alsancak-a721029885">
                                                                Situated within the historical center of the city, Alsancak lures tourists with its restaurants, cafes, and shops. Known as "Punta" during th
                                                            </blockquote>
                                                        </div>
                                                        <div class="tours">
                                                            <a class="tours-link text-link attLink jumper" href="https://www.inspirock.com/turkey/izmir/alsancak-a721029885#Related">
                                                                Tours from TL1,051
                                                            </a>
                                                            <a class="attLink hidden full-details-link text-link" href="https://www.inspirock.com/turkey/izmir/alsancak-a721029885">
                                                                View full attraction details
                                                            </a>
                                                        </div>
                                                              <button type="button" class="cta-button large Delete" data-event-src="Delete">Delete</button>
                                                              <button type="button" class="cta-button large Update" data-event-src="Update">Update</button>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="itinerary-row hop-row    " data-stay-id="1">
                                            <div class="left-col"></div>
                                            <div class="right-col">
                                                <span class="travelTime">12&#8203;min</span>
                                                <a class="directions text-link" rel="nofollow noopener" href="http://maps.google.com/maps?saddr=38.435177,27.139713&amp;daddr=38.41904,27.137722" target="_blank">Get details &raquo;</a>
                                            </div>
                                        </div>
                                        <div class="itinerary-row visit-row data-holder "
                                             id="itinerary-item-18"
                                             data-visit-id="18"
                                             data-id="18"
                                             data-stay-id="1"
                                             data-name="Agora Open Air Museum"
                                             data-duration="60"
                                             data-attraction-id="2138163175"
                                             data-destination-id="311325597"
                                             data-details-url="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/agora-open-air-museum-a2138163175"
                                             data-event-src="visit-row"
                                             data-has-notes="false">
                                            
                                            <div class="visit-contents clearfix">
                                                <div class="left-col ">
                                                    <div class="visit-time">
                                                        <div class="start-time time ">
                                                            <span>5:00pm</span>
                                                        </div>
                                                        <div class="end-time time">6:00pm</div>
                                                    </div>
                                                </div>
                                                <div class="right-col">
                                                    <div class="visit-row-medium">
                                                        <div class="photo clickable-image attLink"
                                                             style="background-image: url('../../photos/agora-open-air-museum-1452834830.jpg')"
                                                             data-link="/turkey/izmir/agora-open-air-museum-a2138163175">
                                                        </div>
                                                        <span class="copyright-fancy-box-div copyright"
                                                              data-type="attraction"
                                                              data-id="2138163175"
                                                              data-img-path="agora-open-air-museum-1452834830.html">&copy;</span>
                                                    </div><div class="detail">
                                                        <div class="name attLink clickable-text">Agora Open Air Museum</div>
                                                        <div class="review-tag-container">
                                                            <span class="review">
                                                                <div class="rating-stars ">
                                                                    <span class="rating-stars-fill" style="width:72.0%;"></span>
                                                                </div>
                                                            </span>
                                                            <span class="tags-attractions">
                                                                <span class="tag" data-cat-id="3">#Ruin</span>, <span class="tag" data-other-id="culture">#Culture</span>
                                                            </span>
                                                        </div>
                                                        <div class="desc">
                                                            <blockquote class="trim-desc" data-more-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/agora-open-air-museum-a2138163175" cite="https://www.inspirock.com/turkey/izmir/agora-open-air-museum-a2138163175"></blockquote>
                                                        </div>
                                                        <div class="tours">
                                                            <a class="tours-link text-link attLink jumper" href="https://www.inspirock.com/turkey/izmir/agora-open-air-museum-a2138163175#Related">
                                                                Tours from TL189
                                                            </a>
                                                            <a class="attLink hidden full-details-link text-link" href="https://www.inspirock.com/turkey/izmir/agora-open-air-museum-a2138163175">
                                                                View full attraction details
                                                            </a>
                                                        </div>
                                                              <button type="button" class="cta-button large Delete" data-event-src="Delete">Delete</button>
                                                              <button type="button" class="cta-button large Update" data-event-src="Update">Update</button>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div class="itinerary-row hop-row  last  no-time" data-stay-id="1">
                                            <div class="left-col"></div>
                                            <div class="right-col">
                                            </div>
                                        </div>
                                        <div class="itinerary-row visit-row data-holder "
                                             id="itinerary-item-20"
                                             data-visit-id="3"
                                             data-id="3"
                                             data-stay-id="1"
                                             data-name="Comak Square"
                                             data-duration="90"
                                             data-attraction-id="420888639"
                                             data-destination-id="311325597"
                                             data-details-url="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/konak-square-a420888639"
                                             data-event-src="visit-row"
                                             data-has-notes="false">
                                            
                                            <div class="visit-contents clearfix">
                                                <div class="left-col ">
                                                    <div class="visit-time">
                                                        <div class="start-time time ">
                                                            <span>10:00am</span>
                                                        </div>
                                                        <div class="end-time time">11:30am</div>
                                                    </div>
                                                </div>
                                                <div class="right-col">
                                                    <div class="visit-row-medium">
                                                        <div class="photo clickable-image attLink"
                                                             style="background-image: url('../../photos/konak-square--622289667.jpg')"
                                                             data-link="/turkey/izmir/konak-square-a420888639">
                                                        </div>
                                                        <span class="copyright-fancy-box-div copyright"
                                                              data-type="attraction"
                                                              data-id="420888639"
                                                              data-img-path="konak-square--622289667.html">&copy;</span>
                                                    </div><div class="detail">
                                                        <div class="name attLink clickable-text">Çomak Square</div>
                                                        <div class="review-tag-container">
                                                            <span class="review">
                                                                <div class="rating-stars ">
                                                                    <span class="rating-stars-fill" style="width:76.0%;"></span>
                                                                </div>
                                                            </span>
                                                            <span class="tags-attractions">
                                                                <span class="tag" data-cat-id="208">#Landmark</span>
                                                            </span>
                                                        </div>
                                                        <div class="desc">
                                                            <blockquote class="trim-desc" data-more-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/konak-square-a420888639" cite="https://www.inspirock.com/turkey/izmir/konak-square-a420888639"></blockquote>
                                                        </div>
                                                        <div class="tours">
                                                            <a class="tours-link text-link attLink jumper" href="https://www.inspirock.com/turkey/izmir/konak-square-a420888639#Related">
                                                                Tours from TL1,051
                                                            </a>
                                                            <a class="attLink hidden full-details-link text-link" href="https://www.inspirock.com/turkey/izmir/konak-square-a420888639">
                                                                View full attraction details
                                                            </a>
                                                        </div>
                                                              <button type="button" class="cta-button large Delete" data-event-src="Delete">Delete</button>
                                                              <button type="button" class="cta-button large Update" data-event-src="Update">Update</button>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        @foreach (var item in Model.Plan)
                                        {
                                            @Helpers.ItineraryRow(item.SourceLat, item.SourceLong, item.DestLat, item.DestLong,item.DirectionDuration);
                                            @Helpers.ItinenaryItem(item.place.PlaceID,item.place.PlaceName, item.place.PlaceRate, item.place.PlacePrice.ToString(),
                                                                item.StartTime, item.FinishTime, item.place.PlaceDescription);
                                        }
                                    </div>
                                </div>
                            </div>
                            <div id="calendar" class="itinerary-calendar-pane hidden">
                                <div id="calendarStayBox"></div>
                                <div id="calendarBox"></div>
                                <div class="clear"></div>
                            </div>
                            <div id="maps" class="itinerary-maps-pane hidden">
                                <div id="map-holder">
                                    <div class="map-stay-title day-title clearfix hidden">
                                        <div class="stay-area">
                                            <div class="stayName"></div>
                                            <div class="date"></div>
                                        </div>
                                    </div>
                                    <div class="map-day-title day-title clearfix">
                                        <div class="day-title-container">
                                            <div class="day">
                                                <div class="mon"></div>
                                                <div class="date"></div>
                                                <div class="dow"></div>
                                            </div>
                                            <div class="in-wrap">
                                                <div class="bar"></div>
                                            </div>
                                            <div class="stay-area">
                                                <div class="stayName"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="map-wrap">
                                    <div id="mapCanvas" class="mapCanvas" data-unit="KILOMETERS">
                                        <div id="noMapMessage" class="hidden">Unable to display map at this time. Please try again later.</div>
                                    </div>
                                    <div class="map-legend">
                                        <ol id="param-stay-0"
                                            class="legend-day-list"
                                            data-lat="38.423733" data-lng="27.142826" data-stay-name="Izmir"
                                            data-stay-id="1" data-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/trip-planner-d311325597">
                                            <div class="slot-date hidden">Tuesday, Feb 20</div>
                                            <li id="param-stay-1-slot-0"
                                                class="legendOption hidden"
                                                data-date-text="Tuesday, Feb 20" data-date="2018-02-20"
                                                data-slot-index="0">
                                                <ul>
                                                    <li class="hop-duration bg-stripe" data-is-visit="false">
                                                        <span class="fa fa-car"></span>
                                                        <a class="directions text-link" href="http://maps.google.com/maps?saddr=38.423733,27.142826&amp;daddr=38.41905,27.128864" target="_blank">
                                                            9&#8203;min
                                                        </a>
                                                    </li>
                                                    <li class="visit-name"
                                                        data-lat="38.41905"
                                                        data-lng="27.128864"
                                                        data-stay-id="1"
                                                        data-time-range="10:00am - 11:30am"
                                                        data-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/konak-square-a420888639"
                                                        data-is-visit="true">
                                                        <span>
                                                            <span class="map-marker-circle notranslate"></span>
                                                            <span class="name">Konak Square</span>
                                                        </span>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li class="hop-duration bg-stripe" data-is-visit="false">
                                                        <span class="fa fa-car"></span>
                                                        <a class="directions text-link" href="http://maps.google.com/maps?saddr=38.41905,27.128864&amp;daddr=38.418888,27.12865" target="_blank">
                                                            0 min
                                                        </a>
                                                    </li>
                                                    <li class="visit-name"
                                                        data-lat="38.418888"
                                                        data-lng="27.12865"
                                                        data-stay-id="1"
                                                        data-time-range="11:30am - 12:30pm"
                                                        data-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/saat-kulesi-clock-tower-a111497851"
                                                        data-is-visit="true">
                                                        <span>
                                                            <span class="map-marker-circle notranslate"></span>
                                                            <span class="name">Saat Kulesi (Clock Tower)</span>
                                                        </span>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li class="hop-duration bg-stripe" data-is-visit="false">
                                                        <span class="fa fa-car"></span>
                                                        <a class="directions text-link" href="http://maps.google.com/maps?saddr=38.418888,27.12865&amp;daddr=38.408886,27.117561" target="_blank">
                                                            9&#8203;min
                                                        </a>
                                                    </li>
                                                    <li class="visit-name"
                                                        data-lat="38.408886"
                                                        data-lng="27.117561"
                                                        data-stay-id="1"
                                                        data-time-range="1:00pm - 2:00pm"
                                                        data-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/tarihi-asansor-a111699973"
                                                        data-is-visit="true">
                                                        <span>
                                                            <span class="map-marker-circle notranslate"></span>
                                                            <span class="name">Tarihi Asansor</span>
                                                        </span>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li class="hop-duration bg-stripe" data-is-visit="false">
                                                        <span class="fa fa-car"></span>
                                                        <a class="directions text-link" href="http://maps.google.com/maps?saddr=38.408886,27.117561&amp;daddr=38.4106,27.16165" target="_blank">
                                                            12&#8203;min
                                                        </a>
                                                    </li>
                                                    <li class="visit-name"
                                                        data-lat="38.4106"
                                                        data-lng="27.16165"
                                                        data-stay-id="1"
                                                        data-time-range="2:30pm - 4:00pm"
                                                        data-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/kemeralti-market-a811497927"
                                                        data-is-visit="true">
                                                        <span>
                                                            <span class="map-marker-circle notranslate"></span>
                                                            <span class="name">Kemeralti Market</span>
                                                        </span>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li class="hop-duration bg-stripe" data-is-visit="false">
                                                        <span class="fa fa-car"></span>
                                                        <a class="directions text-link" href="http://maps.google.com/maps?saddr=38.4106,27.16165&amp;daddr=38.435547,27.139322" target="_blank">
                                                            12&#8203;min
                                                        </a>
                                                    </li>
                                                    <li class="visit-name"
                                                        data-lat="38.435547"
                                                        data-lng="27.139322"
                                                        data-stay-id="1"
                                                        data-time-range="4:30pm - 6:00pm"
                                                        data-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/kordonboyu-a520004341"
                                                        data-is-visit="true">
                                                        <span>
                                                            <span class="map-marker-circle notranslate"></span>
                                                            <span class="name">Kordonboyu</span>
                                                        </span>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li class="hop-duration bg-stripe" data-is-visit="false">
                                                        <span class="fa fa-car"></span>
                                                        <a class="directions text-link" href="http://maps.google.com/maps?saddr=38.435547,27.139322&amp;daddr=38.423733,27.142826" target="_blank">
                                                            10&#8203;min
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ol>
                                        <ol id="param-stay-1"
                                            class="legend-day-list"
                                            data-lat="38.423733" data-lng="27.142826" data-stay-name="Izmir"
                                            data-stay-id="1" data-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/trip-planner-d311325597">
                                            <div class="slot-date hidden">Wednesday, Feb 21</div>
                                            <li id="param-stay-1-slot-1"
                                                class="legendOption hidden"
                                                data-date-text="Wednesday, Feb 21" data-date="2018-02-21"
                                                data-slot-index="1">
                                                <ul>
                                                    <li class="hop-duration bg-stripe" data-is-visit="false">
                                                        <span class="fa fa-car"></span>
                                                        <a class="directions text-link" href="http://maps.google.com/maps?saddr=38.423733,27.142826&amp;daddr=38.4928,26.96301" target="_blank">
                                                            27&#8203;min
                                                        </a>
                                                    </li>
                                                    <li class="visit-name"
                                                        data-lat="38.4928"
                                                        data-lng="26.96301"
                                                        data-stay-id="1"
                                                        data-time-range="10:00am - 12:30pm"
                                                        data-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/izmir-wild-life-park-a8146297227"
                                                        data-is-visit="true">
                                                        <span>
                                                            <span class="map-marker-circle notranslate"></span>
                                                            <span class="name">Izmir Wild Life Park</span>
                                                        </span>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li class="hop-duration bg-stripe" data-is-visit="false">
                                                        <span class="fa fa-car"></span>
                                                        <a class="directions text-link" href="http://maps.google.com/maps?saddr=38.4928,26.96301&amp;daddr=38.435177,27.139713" target="_blank">
                                                            34&#8203;min
                                                        </a>
                                                    </li>
                                                    <li class="visit-name"
                                                        data-lat="38.435177"
                                                        data-lng="27.139713"
                                                        data-stay-id="1"
                                                        data-time-range="2:00pm - 4:30pm"
                                                        data-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/alsancak-a721029885"
                                                        data-is-visit="true">
                                                        <span>
                                                            <span class="map-marker-circle notranslate"></span>
                                                            <span class="name">Alsancak</span>
                                                        </span>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li class="hop-duration bg-stripe" data-is-visit="false">
                                                        <span class="fa fa-car"></span>
                                                        <a class="directions text-link" href="http://maps.google.com/maps?saddr=38.435177,27.139713&amp;daddr=38.41904,27.137722" target="_blank">
                                                            12&#8203;min
                                                        </a>
                                                    </li>
                                                    <li class="visit-name"
                                                        data-lat="38.41904"
                                                        data-lng="27.137722"
                                                        data-stay-id="1"
                                                        data-time-range="5:00pm - 6:00pm"
                                                        data-link="/trip/a2f6de2f7-eef8-4914-a130-4bc3380476d4/turkey/izmir/agora-open-air-museum-a2138163175"
                                                        data-is-visit="true">
                                                        <span>
                                                            <span class="map-marker-circle notranslate"></span>
                                                            <span class="name">Agora Open Air Museum</span>
                                                        </span>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li class="hop-duration bg-stripe" data-is-visit="false">
                                                        <span class="fa fa-car"></span>
                                                        <a class="directions text-link" href="http://maps.google.com/maps?saddr=38.41904,27.137722&amp;daddr=38.423733,27.142826" target="_blank">
                                                            5&#8203;min
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ol>
                                    </div>
                                    <div class="show-directions">
                                        <input type="checkbox" id="show-directions" class="cb shaded" checked />
                                        <label for="show-directions">Show driving route</label>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                        <div class="dbd-right-rail col-2 ">
                            <div class="dest-rail" data-destination-id="311325597">
                                <div class="see-also">See also for Izmir:</div>
                                <ul>
                                    <li><a href="~/photos/@Model.Province" rel="nofollow" target="_blank"><span class="tour-title">City tours</span>&nbsp;<span class="text-link">from TL393 &raquo;</span></a></li>
                                    <li><a href="https://www.viator.com/izmir-tours/b/d581-g20-c85?eap=inspirock-a933aad43ba14e9096af1d41e7431180-17895&amp;aid=vba17895en" rel="nofollow" target="_blank"><span class="tour-title">Multi-day & Extended tours</span>&nbsp;<span class="text-link">from TL382 &raquo;</span></a></li>
                                    <li><a href="https://www.viator.com/tours/Izmir/Ephesus-and-St-Marys-House-Day-Trip-from-Izmir/d581-3795IZM02?eap=inspirock-a933aad43ba14e9096af1d41e7431180-17895&amp;aid=vba17895en" rel="nofollow" target="_blank"><span class="tour-title">Ephesus and St. Mary's House Day Trip from Izmir</span>&nbsp;<span class="text-link">TL303 &raquo;</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div id="hotels" class="tab-content hidden" data-url="/trip/2-days-in-izmir-itinerary-with-culture-a2f6de2f7-eef8-4914-a130-4bc3380476d4/hotels" data-is-dirty="true">
                    </div>
                    <div id="explore" class="tab-content hidden" data-url="/trip/2-days-in-izmir-itinerary-with-culture-a2f6de2f7-eef8-4914-a130-4bc3380476d4/explore/attractions" data-is-dirty="true">
                    </div>
                    <div id="transportation" class="tab-content hidden" data-url="/trip/2-days-in-izmir-itinerary-with-culture-a2f6de2f7-eef8-4914-a130-4bc3380476d4/transportation" data-is-dirty="true">
                    </div>
                    <div id="notifications" class="tab-content hidden" data-url="/trip/2-days-in-izmir-itinerary-with-culture-a2f6de2f7-eef8-4914-a130-4bc3380476d4/notifications">
                        <div class="clearfix">
                            <div class="notifications-left pull-left">
                                <div class="title">Notifications:</div>
                                <div id="notifications-list" class="notifications hidden">
                                </div>
                                <button style="display: none" class="load-more">load more <i class="fa fa-angle-down load-more-arrow"></i></button>
                                <div class="progress">
                                    <img class="progress-img" src="~/res2/images/misc/ajax-loader.gif" alt="Loading..." />
                                </div>
                            </div>
                            <div class="collaborators-right pull-right hidden">
                                <div class="title">Collaborators:</div>
                                <div class="cotravelers clearfix hidden">
                                    <div class="count"></div>
                                    <div>
                                        <div class="type">co-travelers</div>
                                        <span class="manage-cotravelers text-link">manage ></span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <img class="progress-img" src="~/res2/images/misc/ajax-loader.gif" alt="Loading..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plan-recalculating-pane hidden" id="planRecalculating">
                    <img class="progress-img" src="~/res2/images/misc/bulb.gif" alt="Updating your plan..." />
                    <div class="progress-txt">Updating your plan...</div>
                </div>
            </div>
            <div class="bottom-pane">
                <button class="cta-button cancel-btn large">Cancel</button>
                <button class="cta-button done-btn large">Save</button>
            </div>
            <div id="scrollable-dialog-area" class="hidden"></div>
        </div>
        <footer class="page-footer">
            <div class="footer-content">
                <div class="row">
                    <a href="/Home/MainPage" title="Day Scheduling Day Planner">
                        <div style="text-align:center">
                            <img src="~/img/logo.png" border=5 width=370 height=200>
                        </div>
                    </a>
                </div>
                <div class="col-6 menu-items">


                </div>
            </div>
                    <div class="col-6 menu-items">                                        
                    </div>                         

                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <script type="text/javascript">


            /* <![CDATA[ */
            var google_conversion_id = 1035570068;
            var google_custom_params = window.google_tag_params;
            var google_remarketing_only = true;
            /* ]]> */

            function setCookie(name, value, days){
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                var expires = "; expires=" + date.toGMTString();
                document.cookie = name + "=" + value + expires + ";path=/";
            }
            function getParam(p){
                var match = RegExp('[?&]' + p + '=([^&]*)').exec(window.location.search);
                return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
            }


            var gclid = getParam('gclid');
            if (gclid) {
                debugger;
                var gclsrc = getParam('gclsrc');
                if(!gclsrc || gclsrc.indexOf('aw') !== -1){
                    setCookie('gclid', gclid, 90);
                }
            }


            window.contextPath = "";
            window.ajaxLoaderPath = "~/res2/images/misc/ajax-loader.gif";
            window.inspirockSecureDomain = "";
            window.userLoggedIn = false;
            window.registeredUserLoggedIn = false;
            window.userId = "";
            window.facebookAppId = '404106769689776';

                window.fbGoal1Count = 2;
                window.fbGoal3Count = 3;

            window.gmapsApiKey = 'AIzaSyCwgnKzcQ9GJAYz1FE7DDM2dQQPOxQrO_w';
            window.flightsEnabled = true;
            window.carsEnabled = true;
            window.trainsEnabled = true;
            window.r2rLinksEnabled = true;
            window.dateFormatDisplayPattern = 'D m/d';
            window.dateFormatMomentDisplayPattern = 'ddd M/D';

                window.sojernPartnerKey = 'S5xRRbV6d6uSSCox';
                window.eyeotaEnabled = true;

            window.stid = 'a933aad4-3ba1-4e90-96af-1d41e7431180';

            function onImgError(image) {
                var src = image.src;
                image.onerror = ""; image.alt = "image not found"; image.src = window.contextPath + "/res/images/assets/no-image-graphic.jpg";
                function report() {require(['modules/analytics'], function(a) {a.trackNonInteractionEvent('img-fail', src);});}
                if (require) {
                    report();
                } else {
                    window.addEventListener("load", function() {if (require) {report();}});
                }
                return true;
            }

            window.onunload = function() {};


                try{(function(){ var cb = new Date().getTime(); var s = document.createElement("script"); s.defer = true; s.src = "../../../../tag.crsspxl.com/s1169b.js?d=2437&amp;cb="+cb; var s0 = document.getElementsByTagName('script')[0]; s0.parentNode.insertBefore(s, s0); })();}catch(e){}

            window.isAdBlockRunning = function() {
                return (document.getElementById("detectAdBlock").offsetParent === null);
            };
            window.addEventListener("load", function() {
                if (window.isAdBlockRunning()) {
                    ga("send", "event", {eventCategory: "adblock", eventAction: "enabled", eventLabel: "true", nonInteraction: 1});
                }
            });
    </script>
    <script src="~/js/common.js"></script>
    <script type="text/javascript">
        require.config({ baseUrl: '~/js' });
    </script>
    <script src="~/js/plan.js"></script>
    <script type="text/javascript" src="../../../../www.googleadservices.com/pagead/f.txt">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1035570068/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
    <div id="detectAdBlock" class="ads ad adsbox doubleclick ad-placement carbon-ads"></div>
    <script type="text/javascript">
            window.IntentMediaProperties = {
                site_name: 'INSPIROCK_WW',
                page_id: 'hotel.plan',
                site_country: 'US',
                site_language: 'en',
                site_currency: 'TRY',
                site_reporting_value_01: 'a933aad4-3ba1-4e90-96af-1d41e7431180',
                visitor_id: 'a933aad4-3ba1-4e90-96af-1d41e7431180'
            };

            (function() {
            var script = document.createElement("script");
            var url = '../../../../compare.cdn.inspirock.net/javascripts/v1/p/inspirock_core.js';
            script.src = url;
            script.defer = true;
            script.onload = function() {require(['modules/intentmedia', 'modules/events'], function(im, ev) {im.triggerRefresh(); ev.triggerEvent('intentmedia', 'im-loaded', {})})};
            document.getElementsByTagName("head")[0].appendChild(script);
            }());
    </script>
    <div id="google_translate_element" class="hidden"></div>
    <script type="text/javascript">
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement({pageLanguage: 'en', autoDisplay: false}, 'google_translate_element');
                }
    </script>
    <script type="text/javascript" src="../../../../translate.google.com/translate_a/elementa0d8.html?cb=googleTranslateElementInit"></script>
</body>
</html>

